{% extends "network/layout.html" %}

{% load static %}

{% block body %}

{% for post in items %}

<div class="post">
    <p class="post-username"><a class="userprofile" href="#"> {{ post.username }} </a> </p>
    <p class="post-content"> {{ post.content }} </p>
    <p class="post-date"> {{ post.date }} </p>
    <p class="post-time"> {{ post.time }} </p>

    <p class="post-likes"> {{ post.likes }} </p>
    <!--<input type="image" src="{% static 'network\unlike.jpg' %}" class="like-post" data-id="{{ post.id }}" alt="Submit"
        width="30" height="30">-->
    <!--<a href="javascript:void(0)" class="like-post" data-id="{{ post.id }}">
        <img src="{% static 'network\unlike.jpg' %}" width="30" height="30" />
    </a>-->
    {% if post.liked == False %}
    <a href="javascript:void(0)" class="like-post" data-id="{{ post.id }}">
        <img src="{% static 'network\unlike.jpg' %}" width="30" height="30" />
    </a>
    {% else %}
    <a href="javascript:void(0)" class="unlike-post" data-id="{{ post.id }}">
        <img src="{% static 'network\like.jpg' %}" width="30" height="30" />
    </a>
    {% endif %}

    {% if currentuser.username == post.username %}
    <button class="edit" data-id="{{ post.id }}">Edit</button>
    {% endif %}
</div>

{% endfor %}

{% include "network/pagination.html" %}

{% endblock %}